<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href="/Content/Default.css" rel="stylesheet" type="text/css">
        <link href="/Content/slider.css" rel="stylesheet" type="text/css">
        <script src="/Scripts/jquery-1.9.1.js"></script>
        @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <div id="innerHeader">
                    <a href="/"><img id="logo" src="/Content/images/android_logo.png" height="100px" />
                        <img id="logo_text"src="/Content/images/everythink.png" width="500px" /></a>
                   <div id="login_partial">
                         @Html.Partial("_LoginPartial")
                   </div>
                </div>
            </div>
            
                <div class="topmenu roundBox">
                    <ul>
                        <a href="/"><li><img class="cssMenuButton" src="/Content/images/home.png"></li></a>
                        <img class="float-left" src="/Content/images/menu_separator.png"/>
                        @*<li>@Html.ActionLink("Головна", "Index", "Home")</li>*@
                        <a href="/Search"><li id="Search">Пошук</li></a>
                        <img class="float-left" src="/Content/images/menu_separator.png"/>
                        
                        <li><a href="#" title="Товари">Товари</a>
                            <ul>
                                <li><a href="#" title="Элемент 1.1">Тип товару 1.1</a></li>
                                <li><a href="#" title="Элемент 1.2">Тип товару 1.2</a></li>
                                <li><a href="#" title="Элемент 1.3">Тип товару 1.3</a></li>
                            </ul>
                        </li>

                        <img class="float-left" src="/Content/images/menu_separator.png"/>

                        <a href="/Forum"><li>Форум</li></a>
                    </ul>

                    <div id="srchb">
                    <form method="get" action="/Search/">
                        <input id="srch" name="search" size="14" type="text">
                        <input name="incldead" value="1" type="hidden"> 
                        <input value="" id="srcsubm" type="submit">
                    </form>
                    </div>
                    <div id="Settings"></div>
                </div>
                
            <script type="text/javascript">$(document).ready(function () {
                    $('.topmenu ul li').hover(
                        function () {
                            $(this).addClass("active");
                            $(this).find('ul').stop(true, true); // останавливаем всю текущую анимацию
                            $(this).find('ul').slideDown();
                            //$(this).find('ul').addClass("activeUL");
                        },
                        function () {
                            $(this).removeClass("active");
                            $(this).find('ul').slideUp('fast');
                            //$(this).find('ul').removeClass("activeUL");
                        }
                    );
                });
            </script>

                @*<div class="AddMenu">
                    <ul>
                        <a href="/Search"><li>Товари</li></a><hr />
                        <a href="#"><li>Програми</li></a><hr />
                        <a href="/Articles"><li>Статті</li></a>
                    </ul>
                </div>*@
                @*<script>
                    $("#Search").mouseenter(function () {
                        //$(".hor-panel").slideToggle("slow");
                        $(".AddMenu").addClass("activeCssMenu");
                    });
                    $(".AddMenu").mouseleave(function () {
                        //$(".hor-panel").slideToggle("slow");
                        $(".AddMenu").removeClass("activeCssMenu");
                    });
                //$(".SearchMenu").mouseleave(function() {
                    //    $(".SearchMenu").toggleClass("activeCssMenu");
                    //});
                </script>*@
                
            <div id="container">
                <div id="sideleft">
                    <div class="block">
                        <div class="innerblock">
                            <div class="blocktop"><h3>Меню</h3></div>
                            <ul class="menu">
                                <li><div class="red">@Html.ActionLink(" Головна", "Index", "Home")</div></li><hr/>
                                <li><div class="blue">@Html.ActionLink(" Фото", "Index", "Photo")</div></li><hr/>
                                <li><div class="yellow">@Html.ActionLink(" Відео", "Index", "Movie")</div></li><hr/>
                                <li><div class="aqua">@Html.ActionLink(" Ігри", "Games", "Home")</div></li><hr/>
                                <li><div class="green">@Html.ActionLink(" Чат", "Chat", "Home")</div></li><hr/>
                                <li><div class="brown">@Html.ActionLink(" FAQ", "Faq", "Home")</div></li><hr/>
                                <li><div class="black">@Html.ActionLink(" Звязок з адміністрацією", "Contact", "Home")</div></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="block">
                        <div class="innerblock">
                            <div class="blocktop"><h3>Софт</h3></div>
                            <ul class="menu">
                                <li><div class="green"><a href="http://www.utorrent.com/downloads/complete/os/win" target="_blank">µTorrent</a></div></li>
                                <li><div class="blue"><a href="http://kmplayer.en.softonic.com/download" target="_blank">KMPlayer</a></div></li>
                                <li><div class="grey"><a href="http://fileforum.betanews.com/sendfile/1094057842/3/1359885172.75ff23bea735f7de81568b77c21e8234321e56ec/K-Lite_Codec_Pack_970_Full.exe" target="_blank">K-Lite Codec</a></div></li>
                                <li><div class="red"><a href="http://eu-uk1.disc-tools.com/request?p=2276b1e7c1a3c77de2660f050f6d6f2c/DTLite4461-0328.exe">DAEMON Tools Lite</a></div></li>
                                <li><div class="yellow"><a href="http://www.teamviewer.com/download/TeamViewer_Setup_uk-ckq.exe">Team Viewer</a></div></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div id="sideright">
                    <div class="block">
                        <div class="innerblock">
                            <div class="blocktop"><h3>Оголошення</h3></div>
                            <div id="Announcement">
                                <ul class="menu">
                                @RenderSection("Announcement",false)
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    $(document).ready(function () {
                        $(".pane .delete").click(function () {
                            $(this).parents(".pane").animate({ opacity: 'hide' }, "slow");
                        });
                    });
                </script>

                <div id="content" class="roundBox">
                    <div class="ContentBlocktop"><div id="HidenBackButton"><a href="javascript:history.go(-1)">назад</a></div></div>
                    @RenderBody()
                </div>

            </div>
        </div>
        <!--@Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)-->

        <footer id="footer">
            <div class="float-left">
                &copy; @DateTime.Now.Year - My ASP.NET MVC Application
            </div>
            <div class="float-right">
               @DateTime.Now
            </div>
        </footer>
        
            @* @RenderSection("featured", required: false)*@
            @*@Scripts.Render("~/bundles/jquery")
            @RenderSection("scripts", required: false)*@
    </body>
</html>
