@model everything.Models.Photo

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Photo", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Фото</legend>

        <div class="editor-label">
            Назва фото: 
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <!--<div class="editor-label">
                Дата:
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ReleaseDate)
                @Html.ValidationMessageFor(model => model.ReleaseDate)
            </div>-->

        <div class="editor-label">
            URL:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Link)
            @Html.ValidationMessageFor(model => model.Link)
        </div>
        <!---->
        <div class="editor-label">
            З комп'ютера:<br /></div>
        <div class="editor-field">
            <input type="file" name="fileUpload" /><br /></div>
        <!---->
        <p>
            <!--<input type="submit" value="Завантажити" />-->
            <button>Завантажити</button>
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Повернутись до списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}